/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */



/**
 * GRAVITY FONT 1
 */

 @font-face {
    font-family: 'Gravity';
    src: local('Gravity Light'), local('Gravity-Light'),
        url('./gravity/Gravity-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gravity';
    src: local('Gravity Book'), local('Gravity-Book'),
        url('./gravity/Gravity-Book.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  /**
   * GRAVITY FONT 2
   */
  
  @font-face {
    font-family: 'Gravity';
    src: local('Gravity Ultra Light'), local('Gravity-UltraLight'),
        url('./gravity/Gravity-UltraLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gravity';
    src: local('Gravity Regular'), local('Gravity-Regular'),
        url('./gravity/Gravity-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gravity';
    src: local('Gravity Ultra Light Italic'), local('Gravity-UltraLightItalic'),
        url('./gravity/Gravity-UltraLightItalic.otf') format('otf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gravity';
    src: local('Gravity Light'), local('Gravity-Light'),
        url('./gravity/Gravity-Light.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }