/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */



/**
 * LOUIS G CAFE FONT 
 */

@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe Light'), local('Louis-George-Cafe-Light'),
      url('./louis_george_cafe/Louis-George-Cafe-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe Regular'), local('Louis-George-Cafe-Regular'),
      url('./louis_george_cafe/Louis-George-Cafe.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



/**
 * WELLINGTONS FONT 
 */

@font-face {
  font-family: 'Wellingtons';
  src: local('Wellingtons Light'), local('TT-Wellingtons-Trial-Light'),
      url('./wellingtons/TT-Wellingtons-Trial-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wellingtons';
  src: local('Wellingtons Regular'), local('TT-Wellingtons-Trial-Regular'),
      url('./wellingtons/TT-Wellingtons-Trial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wellingtons';
  src: local('Wellingtons Italic'), local('TT-Wellingtons-Trial-Italic'),
      url('./wellingtons/TT-Wellingtons-Trial-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wellingtons';
  src: local('Wellingtons Medium'), local('TT-Wellingtons-Trial-Medium'),
      url('./wellingtons/TT-Wellingtons-Trial-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}